{% extends 'common.html' %}
{% load static %}

{% block css %}	
	<link rel="stylesheet" type="text/css" href="{% static 'css/sign.css' %}">
{% endblock %}

{% block title %}- Login{% endblock %}

{% block content %}
	<section id="form" class="container">
		<form method="post" action="">
			{% csrf_token %}
  			<div class="form-group">
                <label for="email">I registered with the email</label> 
                <input type="email" class="form-control" id="email" required name="email" pattern="^\w+@\w+\.(\w{2,3})$">
            </div>
  			<div class="form-group">
    			<label for="password">And my password is</label>
    			<input type="password" class="form-control" id="password" required name="password">
    			<small id="show-pass">Show password</small>
  			</div>
  			<button type="submit" class="btn bg-prim">Login</button>
  			<span class="txt-sec">Not joined yet? <br>Sign up <a href='{% url "register" %}'> here </a></span>
		</form>
	</section>
{% endblock %}

{% block js %}
	<script type="text/javascript" src="{% static 'js/sign.js' %}"></script>
{% endblock %}